<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app='angularTest'>
  <h1>Title</h1>

  <div class="parent" ng-controller='parentCtrl'>
    parentCtrl
    <span>Message: {{parentMessage}}</span>
    <input ng-model='parentText' type="text">
    <button ng-click='click()'>Broadcast</button>

    <div class="child" ng-controller='firstChildCtrl'>
      firstChildCtrl
      <span>Message: {{childMessage}}</span>
      <input ng-model='childText' type="text">
      <button ng-click='click()'>Emit</button>
    </div>

    
    <div class="child" ng-controller='secondChildCtrl'>
      secondChildCtrl
      <span>Message: {{childMessage}}</span>
      <input ng-model='childText' type="text">
      <button ng-click='click()'>Emit</button>
    </div>


  </div>  
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
